<head>
    <meta charset="utf-8">
    <title>Temperature and humidity</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <!-- Favicons -->
    <!-- <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon"> -->
  
    <!-- Google Fonts -->
  
    <!-- Tailwind CSS CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  
  </head>
  