<!DOCTYPE html>
<html>
{% include 'snippets/head.html' %}

<body class="flex flex-col min-h-screen font-sans">
    <header>
        {% include 'snippets/navbar.html' %}
    </header>

    <main class="flex-grow">
        <section>
            <div class="max-w-sm mx-auto px-6 mt-12 mb-3 text-center">
                <div id="temperature" class="border-2 border-solid border-gray-300 rounded-lg px-4 py-12 m-4">
                    <h1 class="text-2xl">Temperature</h1>
                    <p class="text-7xl">{{ temperature }}&#8451;</p>
                </div>
                <div id="humidity" class="border-2 border-solid border-gray-300 rounded-lg px-4 py-12 m-4">
                    <h1 class="text-2xl">Relative humidity</h1>
                    <p class="text-7xl">{{ humidity }}%</p>
                </div>
            </div>
        </section>
    </main>
    {% include 'snippets/footer.html' %}

    {% include 'snippets/scripts.html' %}

</body>

</html>